<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>G2-JEWELRY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>G2-SDK-MiniPos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>G2-SDK-MiniPosResource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>G2TestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NDL-BS-CICRLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>NDL-FRAMEWORK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NDL-G2-CORE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NDL-G2-SDKCONT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>NDL-JEWELRY 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NDL-JEWELRY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NDL-LIB-CORE-BS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NDL-LIB-FRAME.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NDL-LIB-G2-CORE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>NDL-LIB-MINISDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NDL-LIB-MODEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>NDL-LIB-MiniSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>NDL-LIB-TRANSFER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>NDL-MODEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NDL-SDKCORE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NDL-TRANSFER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43EFBAEF1B5CA73200745610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43EFBB081B5CA73200745610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910C1C7B1C21E51D00FCD227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910C1C881C21E57E00FCD227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914242981C1EE5DC00314E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD81D1C0DD2EA00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD82A1C0DD31700507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8371C0DD38E00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8441C0DD3BB00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8511C0DD3FD00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD86C1C0DD42C00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8981C0DDD3D00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8A51C0DDD7800507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8B21C0DDDA500507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8C71C0DDF2100507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8E61C0DE28B00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD9031C0DE4F200507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9178C6561C1325A900446E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9184DAA21C1074CF00832002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9184DAC81C10817B00832002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91EC5BF21C130F2D004405B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91EC5C001C131037004405B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91EC5C111C1310E3004405B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
