<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>G2-JEWELRY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>G2互联客.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NDL-BS-CICRLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>NDL-BS-TEST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>NDL-LIB-CORE-BS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NDL-LIB-FRAME.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NDL-LIB-G2-CORE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>NDL-LIB-MINISDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NDL-LIB-MODEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NDL-LIB-TRANSFER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43EFBAEF1B5CA73200745610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766C90EC1C298E3700550B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7699EEB81C2508F10034C009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910C1C881C21E57E00FCD227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914242981C1EE5DC00314E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8981C0DDD3D00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8B21C0DDDA500507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD8E61C0DE28B00507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916FD9031C0DE4F200507B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9178C6561C1325A900446E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9184DAA21C1074CF00832002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
